.staff-member-listing {
	border-top: 1px solid #a7a69a;
}

.staff-member {
	padding: 10px 0;
	border-bottom: 1px solid #a7a69a;
	overflow: hidden;
}

.staff-member-photo {
	float: right;
	max-width: 130px;
	height: auto;
	padding: 10px;
	background-color: #FFF;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,.2);
	margin: 12px 8px 8px 20px;
}

.staff-member-photo-medium {
	float: right;
	max-width: 300px;
	height: auto;
	padding: 10px;
	background-color: #FFF;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,.2);
	margin: 12px 8px 8px 20px;
}

h2.staff-name {
    margin-bottom: 0px;
}

h4.staff-title {
    padding-top: 0;
    margin-bottom: 10px;
}